
<div class='right'>
    <div class="czjl_top"></div>
    <div class="tongtit">
      <div class="xshi">收款中项目</div>
    </div>
      <%= render partial: "search"%>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='tabbable'>
            <div class='tab-content'>
              <div class='tab-pane active' id=''>
                <table class='table' style='margin-bottom:0;'>
                  <thead class="left_20">
                    <tr>
                      <td>借款标题</td>
                      <td>借款者</td>
                      <td>金额(元)</td>
                      <td>期限(月)</td>
                      <td>年利率(%)</td>
                      <td>投标时间</td>
                      <td>借出金额</td>
                      <td>状态</td>
                    </tr>
                  </thead>
                  <tbody class="left_20">
                    <% @bids.each do |bid| %>
                    <tr>
                      <td><%= link_to bid.loan.title, invest_path(bid.loan), :target => '_blank' %></td>
                      <td><%= keep_mysterious_sp(bid.loan.borrower.name, 'name') %></td>
                      <td><%= bid.loan.amount %> </td>
                      <td><%= bid.invest_month %></td>
                      <td><%= bid.interest %></td>
                      <td><%= format_time(bid.created_at) %></td>
                      <td><%= rmb bid.invest_amount %></td>
                      <td><%= t(bid.status) %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= will_paginate @bids %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>