.well
  #myTabContent.tab-content
    #home.tab-pane.active.in
      %label 名称
      = f.text_field :title, :class => "input-xlarge"
      %label 图片
      = f.file_field :pic, :class => "btn"
      %label 状态
      = f.select :status, [["显示","true"],["不显示","false"]]
      %label 显示文本
      = f.text_area :inner_html, :cols => 40, :rows => 16, :id => "kindeditor_id"
.btn-toolbar.form-actions
  = f.submit '保存', :class => 'btn btn-primary'
  - if action_name == 'edit' && (can? :delete, 'backend/banners')
    = link_to '删除', backend_banner_path(@banner), :method => 'delete', :class => 'btn', :confirm => '确认删除?'
