  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'zhuceform'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="zhuce">
        <div class="titles">
            <span class="da">注册</span>
        </div>
        <label></label>
        <%= f.text_field :username, autofocus: true, placeholder: "请输入用户名", class: "form-control", 'data-required' => true, 'data-rule-minlength' => 2, 'data-rule-mxalength' => 16 %>
        <label></label>
        <%= f.email_field :email, placeholder: "请输入邮箱", class: "form-control", 'data-required' => true, 'data-rule-email' => true %>
        <label></label>
        <%= f.password_field :password, autocomplete: "off", placeholder: "密码", class: "form-control", 'data-required' => true, 'data-rule-minlength' => 8 %>
        <label></label>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "确认密码", class: "form-control", 'data-required' => true %>
        <input type="submit" name="commit" value="确定" class="sub zzqding">
        <label class="sizef">已同意<a href='/xieyi' target='_blank'><span>《亚太金融协议》</span></a>。</label>
    </div>
  <% end %>