<div class="rights">
  <div class="right">
    <div class="czjl_top"></div>
    <div class="tongtit">
      <div class="xshi">实名认证<small><%= '(已认证)' if current_user.auth_realname == 1 %></small></div>
    </div>
<div class='row' id='content-wrapper'>
  <div class='col-xs-12 box'>
    <div class="box-header"></div>
    <div class='box-content box-double-padding' style="margin-top:80px;">
        <% if current_user.auth_realname == nil %>
          <div class="alert alert-warning alert-dismissable" style="margin-left:20px;">
            <a class="close" data-dismiss="alert" href="#">×</a>
            请补全用户信息，进行实名认证，实名认证后可进行提现等操作。
          </div>
        <% elsif current_user.auth_realname == 2 %>
          <div class="alert alert-info alert-dismissable" style="margin-left:20px;">
            <a class="close" data-dismiss="alert" href="#">×</a>
            管理员正在审核信息，3个工作日内将返回审核结果。
          </div>
        <% elsif current_user.auth_realname == 0 %>
          <div class="alert alert-danger alert-dismissable" style="margin-left:20px;">
            <a class="close" data-dismiss="alert" href="#">×</a>
            实名认证已驳回，请核对姓名，身份证号和上传的身份证图片是否一致。如已修改，请忽略此提示。
          </div>
        <% end %>
        <div class="user_trade_password_left"><%= form_note_account flash %></div>
        <div>
          <div class='lead'>
            <i class='icon-user text-contrast'></i>
          
          </div>
          <div class="dtitle"> <span class="xjieshi">为了您的账户安全，请填写正确的身份证号，方便我们进行验证</span></div>
        </div>
        <%= form_for current_user.info, :url => account_users_path, :method => :put, :class=>'form', :style=>'margin-bottom: 0;', :enctype => "multipart/form-data" do |f| %>

        <div class="dtitles">
            <div class="righter">
                    <div><span class="xjieshi">姓名&nbsp;&nbsp;&nbsp;</span><span class="xjieshi"><%= f.text_field :name , :class=>'form-control', :placeholder=>'姓名', disabled: current_user.auth_realname == 1 ? true : false, 'error' =>'is' %></span></div>
                    <div><span class="xjieshi">身份证&nbsp;&nbsp;&nbsp;</span><span class="xjieshi"><%= f.text_field :id_card, :class=>'form-control', disabled: current_user.auth_realname == 1 ? true : false, 'error' =>'is' %></span>
                      <span class="user_info_id_card"></span>
                    </div>
                    <div><span class="xjieshi">上传身份证图片</span><span class="xjieshi"><%= (image_tag current_user.info.idcard_pic_url, :class =>"img-responsive") if current_user.info.idcard_pic_url %>
                      <% if current_user.auth_realname != 1 %>
                      <%= f.file_field :idcard_pic, class: "file-input-wrapper btn", disabled: current_user.auth_realname == 1 ? true : false  %>
                      <% end %>
                    </span></div>
              </div>
          </div>

          <div class='dtitle'>
            <% if current_user.auth_realname != 1 %>
            <%= f.submit "保存", :class => "hqyzm", :id => "send" %>
            <% end %>
          </div>
      <% end%>
    </div>
  </div>
</div>
</div>
</div>


<script type="text/javascript">
$(function(){
       $("input[error='is']").each(function(){
           var $required = $('<strong style="color: red;font-size: 12px;"> * </strong>');
           $(this).parent().append($required);
       });
        //文本框失去焦点后
       $("input[error='is']").blur(function(){
            var $parent = $(this).parent();
            $parent.find(".formtips").remove();
            //验证user_info_name
            if( $(this).is('#user_info_name') ){
                   if( this.value=="" || ( this.value.length < 2 )   ){
                       var errorMsg = '用户姓名格式不正确';
                       $parent.append('<span class="formtips onError" style="color: red;font-size: 12px;">'+errorMsg+'</span>');
                   }else{
                     var okMsg = '输入格式正确.';
                     $parent.append('<span class="formtips onSuccess" style="color: #00FF00;font-size: 12px;">'+okMsg+'</span>');
               }
            }
            //身份证
            if( $(this).is('#user_info_id_card') ){
               if( this.value=="" || ( this.value!="" && !/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/.test(this.value) )  ){
                     var errorMsg = '身份证格式不正确';
                     $parent.append('<span class="formtips onError" style="color: red;font-size: 12px;">'+errorMsg+'</span>');
               }else{
                     var okMsg = '输入格式正确.';
                     $parent.append('<span class="formtips onSuccess" style="color: #00FF00;font-size: 12px;">'+okMsg+'</span>');
               }
            }
       }).keyup(function(){
          $(this).triggerHandler("blur");
       }).focus(function(){
            $(this).triggerHandler("blur");
       });//end blur
        
       //提交，最终验证。
        $('#send').click(function(){
               $("input[error='is']").trigger('blur');
               var numError = $('form .onError').length;
               if(numError){
                alert("请输入正确信息");
                   return false;
               }
        });
})
</script>


