<div class="rights">
<div class="right">
  <div class="czjl_top"></div>
    <div class="tongtit">
      <div class="xshi">修改提现密码</div>
    </div>
<div class='row' id='content-wrapper'>
  <div class='col-xs-12 box'>
    <div class="box-header"></div>
    <div class='box-content box-double-padding' style="margin-top:80px;">
    <div class="user_trade_password_left">
      <%= form_note_account flash %>
    </div>
          <%= form_for current_user, :url => set_trade_password_account_users_path, method: :post , html: {:class=>'form validate-form' ,:style=>'margin-bottom: 0;'} do |f| %>
           <div class="dtitle"> <span class="xjieshi">为了您的资金安全，请定期修改提现密码</span></div>

           <div class="dtitles">
              <div class="righter">
                 <% unless current_user.encrypted_trade_password.present?%>
                    <div style="color:#ff6766;margin-left:32px;">尚未设置提现密码，请尽快设置</div>
                  <% else%>
                    <div>
                      <span class="xjieshi">旧提现密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <span class="xjieshi">
                      <%= password_field_tag :old_trade_password, '', autocomplete: "off", class: "form-control", 'data-rule-required' => true, 'data-rule-password' =>true, 'error' =>'is' %></span>
                      <span style="font-size:12px;color:#999">(<% if current_user.auth_mobile == true %>忘记密码? <span id='get_verify' style='cursor:pointer;'>获取短信验证码</span>
                        <% else %>忘记密码? <%= link_to '先去手机认证', auth_phone_account_users_path %><% end %>)</span>
                      </div>
                  <%end%>

                    <div>
                      <span class="xjieshi">新提现密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      <span class="xjieshi"><%= f.password_field :trade_password, autocomplete: "off", class: "form-control", 'data-rule-required' => true, 'data-rule-minlength' => 8, 'data-rule-password' =>true, 'error' =>'is' %></span>
                    </div>

                    <div>
                      <span class="xjieshi">确认提现密码&nbsp;&nbsp;&nbsp;</span>
                      <span class="xjieshi"><%= f.password_field :trade_password_confirmation , autocomplete: "off", class: "form-control", 'data-rule-equalto'=>'#user_trade_password', 'data-rule-required' => true, 'error' =>'is' %></span>
                    </div>
              </div>
           </div>
          <div class='dtitle'>
            <%= f.submit "保存", :class => "hqyzm", :id => "send" %>
          </div>
          <% end%>
        </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
$(function(){
       $("input[error='is']").each(function(){
           var $required = $('<strong style="color: red;font-size: 12px;"> * </strong>');
           $(this).parent().append($required);
       });
        //文本框失去焦点后
       $("input[error='is']").blur(function(){
            var $parent = $(this).parent();
            $parent.find(".formtips").remove();
            //新密码
            if( $(this).is('#user_trade_password') ){
               if( this.value=="" || ( this.value.length < 8 )  ){
                     var errorMsg = '密码不能少于8位字符';
                     $parent.append('<span class="formtips onError" style="color: red;font-size: 12px;">'+errorMsg+'</span>');
               }else{
                     var okMsg = '输入格式正确.';
                     $parent.append('<span class="formtips onSuccess" style="color: #00FF00;font-size: 12px;">'+okMsg+'</span>');
               }
            }

            //验证新密码
            if( $(this).is('#user_trade_password_confirmation')  ){
              if( $('#user_trade_password_confirmation').val() != $('#user_trade_password').val()){
                     var errorMsg = '您两次输入的密码不同';
                     $parent.append('<span class="formtips onError" style="color: red;font-size: 12px;">'+errorMsg+'</span>');
               }else{
                  if($('#user_trade_password').val() == ''){
                      var errorMsg = '新密码不能为空';
                      $parent.append('<span class="formtips onError" style="color: red;font-size: 12px;">'+errorMsg+'</span>');
                  }else{
                     var okMsg = '您两次输入的密码相同';
                     $parent.append('<span class="formtips onSuccess" style="color: #00FF00;font-size: 12px;">'+okMsg+'</span>');
                     }
               }
            }
       }).keyup(function(){
          $(this).triggerHandler("blur");
       }).focus(function(){
            $(this).triggerHandler("blur");
       });//end blur
        
       //提交，最终验证。
        $('#send').click(function(){
               $("input[error='is']").trigger('blur');
               var numError = $('form .onError').length;
               if(numError){
                alert("请输入正确信息");
                   return false;
               }
        });
})
</script>

<% if current_user.auth_mobile == true %>
<script type="text/javascript">
$(function(){
  $('#get_verify').click(function(){
    $.ajax({
      url: '<%= send_verify_code_account_users_path(:mobile => current_user.info.mobile) %>'
    }).done(function(){
      $('#get_verify').attr('style', '');
      $('#get_verify').html('请输入收到的短信验证码');
      $('#get_verify').attr('id', 'sent');
    });
  })
})
</script>
<% end %>