<div class="well">
  <div class="tab-content">
    <div class="tab-pane active">
      <form accept-charset="UTF-8" action="/backend/users/1" class="form-horizontal validate-form" id="edit_user_info" method="post" role="form" novalidate="novalidate">
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">姓名:</label>
          <div class="control-label">
             <%= @withdraw.user.name %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">状态:</label>
          <div class="control-label">
             <%= t @withdraw.status %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">提现金额:</label>
          <div class="control-label">
             <%= rmb(@withdraw.amount) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">卡号:</label>
          <div class="control-label">
             <%= @withdraw.card_number %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">银行:</label>
          <div class="control-label">
             <%= @withdraw.bank %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">支行:</label>
          <div class="control-label">
             <%= @withdraw.branch %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">省份:</label>
          <div class="control-label">
             <%= ChinaCity.get(@withdraw.province) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">城市:</label>
          <div class="control-label">
             <%= ChinaCity.get(@withdraw.city) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">区域:</label>
          <div class="control-label">
             <%= ChinaCity.get(@withdraw.area) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">审核者:</label>
          <div class="control-label">
             <%= @withdraw.auditor.try(:name) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">审核时间:</label>
          <div class="control-label">
             <%= format_time(@withdraw.try(:audit_time)) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_info_姓名">提现时间:</label>
          <div class="control-label">
             <%= format_time(@withdraw.created_at) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" style="color:#ff6766;" for="notice">提示信息:</label>
          <div class="control-label">
            <% unless @withdraw.try(:notice).present?%>
              <%= text_area_tag :notice, '',placeholder: "提现提示信息,会在站内信中发出，请谨慎填写"%>
            <% else%>
              <%= @withdraw.notice%>
            <% end%>
          </div>
        </div>
          <h5>注意事项</h5>
          <ol><li>提现失败时提示样例：“您于xxxx-xx-xx申请提现xx元未通过审核，(请仔细检查银行卡信息)”</li>
          <li>提现成功提示时样例：“您于xxxx-xx-xx申请提现xx元已通过审核，(请您关注您的银行卡账户信息)”</li>
          <li>括号（）内位默认提示信息，此处输入提示信息会替换括号内容。</li>
          </ol>
        <div class="form-actions">
          <% if @withdraw.status == 'auditing' %>
            <%=link_to '放款', backend_withdraw_path(@withdraw, :res => 'pass'), :method => :put, :confirm => '确认放款成功?' %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%=link_to '取消放款', backend_withdraw_path(@withdraw, :res => 'fail'), :method => :put, :confirm => '确认取消放款?'%>&nbsp;&nbsp;
          <% else %>
            <%= t @withdraw.status %>&nbsp;&nbsp;
          <% end %>
          <%= link_to '返回列表', backend_withdraws_path %>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$("#notice").blur(function() {
  $.post("<%= set_notice_backend_withdraw_path(@withdraw)%>",{notice:$("#notice").val()},function(result){
    alert(result);
  });
})
</script>