  <div class="search-well">
    <%= form_tag create_offline_recharge_backend_pay_orders_path, :method => "POST", :class => "form-inline validate-form", :role => "form", :novalidate=>"novalidate", :onsubmit => 'return confirm_recharge();' do %>
      <%= hidden_field_tag :user_id, params[:id]%>
      <div class="control-group">
        <div class='controls'>
        <%= text_field_tag :amount, '', :placeholder => "充值金额", :class => 'input-xlarge', :'data-rule-number' => "true",  :'data-rule-required'=>"true" %>
        </div>
      </div>
      <%= submit_tag "充值", :class => "btn" %>
    <% end %>
  </div>
  <div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">客户信息</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div id="info" class="tab-pane active in">
        <table class="table">
          <tr>
            <th>用户名</th>
            <td><%= @user.name %></td>
            <th>电子邮件</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
  <div class="well">
    线下充值记录:<br><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>编号</th>
          <th>转出账户</th>
          <th>转入账户</th>
          <th>相关账户</th>
          <th>金额</th>
          <th>描述</th>
          <th>充值时间</th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
        <% @offline_recharge.each do |cash_flow| %>
          <tr>
            <td><%= cash_flow.id %></td>
            <td>
            <% if cash_flow.from_user %>
              <%= link_to cash_flow.from_user.try(:email), backend_cash_flow_path(cash_flow.from_user) %>
            <% else %>
              &nbsp;
            <% end %>
            </td>
            <td>
              <% if cash_flow.to_user %>
                <%= link_to cash_flow.to_user.try(:email), backend_cash_flow_path(cash_flow.to_user) %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
            <td><%= cash_flow.offline_user.try(:email) %></td>
            <td><%= rmb cash_flow.amount %></td>
            <td><%= cash_flow.description %></td>
            <td><%= format_time cash_flow.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @offline_recharge %>
<script type="text/javascript">
function confirm_recharge(){
  if(confirm('确认充值？此操作不可逆！')){
    return true;
  }else{
    return false;
  }
}
</script>