.well
  .tab-content
    .tab-pane.active
      = form_for @loan, url: backend_loan_path(@loan), html: { class: "form-horizontal", role: "form"} do |u|
        = hidden_field_tag :user_id
        = hidden_field_tag :id
        = hidden_field_tag :audit, params[:audit]
        .control-group
          = u.label "借款编号", class: "control-label"
          .controls
            = text_field_tag :code, @loan.try(:code), disabled: true,  type: "text", class: "input-xlarge"
        = render  :partial => "form", :locals => {:u => u}
        .form-actions
          %button.btn.btn-primary{:type => "submit"} 提交
:javascript
  $("form").validate();
  $(function (){
    $('#loan_due_date').datepicker({
      inline: true
    });
    $('#loan_estimated_time').datepicker({
      inline: true
    });
    $('#loan_max_invest').change(function(){
      var amount =parseInt($("#loan_amount").val());
      var min = parseInt($("#loan_min_invest").val());
      var max = parseInt($(this).val());
      if (max > amount){
        alert("最大投资额不能大于借款总额！");
        $(this).val(amount);
      }else if(max < min){
        alert("最大投资额不能小于最小投资额！");
        $(this).val(amount);
      }

    });
  })