.well
  .tab-content
    - @user=user
    - @user_info=user_info
    .tab-pane.active
      = form_for @user_info,as: :user_info, url: backend_user_path(@user_info), html: { class: "form-horizontal", role: "form"} do |u|
        = hidden_field_tag :user_id, @user.id
        = hidden_field_tag :step, @step
        .control-group
          = u.label t(:company_name), class: "control-label"
          .controls
            = u.text_field :company_name, placeholder: t(:company_name), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_type), class: "control-label"
          .controls
            = u.text_field :company_type, placeholder: t(:company_type), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_industry), class: "control-label"
          .controls
            = u.text_field :company_industry, placeholder: t(:company_industry), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_job), class: "control-label"
          .controls
            = u.text_field :company_job, placeholder: t(:company_job), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_title), class: "control-label"
          .controls
            = u.text_field :company_title, placeholder: t(:company_title), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_worktime1), class: "control-label"
          .controls
            = u.text_field :company_worktime1, placeholder: t(:company_worktime1), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_worktime2), class: "control-label"
          .controls
            = u.text_field :company_worktime2, placeholder: t(:company_worktime2), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_phone), class: "control-label"
          .controls
            = u.text_field :company_phone, placeholder: t(:company_phone), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_address), class: "control-label"
          .controls
            = u.text_field :company_address, placeholder: t(:company_address), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_weburl), class: "control-label"
          .controls
            = u.text_field :company_weburl, placeholder: t(:company_weburl), type: "text", class: "input-xlarge"
        .control-group
          = u.label t(:company_reamrk), class: "control-label"
          .controls
            = u.text_field :company_reamrk, placeholder: t(:company_reamrk), type: "text", class: "input-xlarge"

        .form-actions
          = link_to "上一步", edit_backend_user_path(@user,:step=>2), :class => "btn btn-primary"
          %button.btn.btn-primary{:type => "submit"} 下一步
:javascript
  $(function (){
    $('#user_info_company_worktime1').datepicker({
      inline: true
    });
    $('#user_info_company_worktime2').datepicker({
      inline: true
    });
  })