= form_note flash
.well
  .tab-content
    .tab-pane.active
      = form_for @user, url: backend_users_path, html: { class: "form-horizontal", role: "form"} do |u|
        .control-group
          = u.label '用户名', class: "col-sm-2 control-label"
          .controls
            = u.text_field :username, placeholder: "用户名", class: "input-xlarge"
        .control-group
          = u.label :email, class: "col-sm-2 control-label"
          .controls
            = u.text_field :email, placeholder: "邮箱", type: "email", class: "input-xlarge"
        / .control-group
        /   = u.label :password, class: "col-sm-2 control-label"
        /   .controls
        /     = u.text_field :password, placeholder: "Password", type: "password", class: "input-xlarge"
        .form-actions
          %button.btn.btn-primary{:type => "submit"} 创建用户