<div class="footers">
      <div class="fonterson">
         <div class="left">
            <div class="zhzi">客服热线</div>
            <div class="dazi lan">400-650-2921</div>
            <div class="xzi">服务时间：9:00-21:00</div>
            <div class="zhzi">官方QQ群</div>
            <div class="dazi lan">230-902-850</div>
         </div>
         <div class="center">
            <img src="<%= asset_url('frontend/dengfoot.jpg') %>" />
            <img src="<%= asset_url('frontend/xingfoot.jpg') %>" />
            <img src="<%= asset_url('frontend/lianfoot.jpg') %>" />
         </div>
         <img src="<%= asset_url('frontend/erweima.jpg') %>" />
      </div>
   </div>
   <div class="foot">
      <div class="top">
         <a href="#" target="_blank">关于我们</a>
         <a href="#" target="_blank">理财问答</a>
         <a href="#" target="_blank">法律声明</a>
         <a href="#" target="_blank">联系我们</a>
         <a href="#" target="_blank">加入我们</a>
         <a href="#" target="_blank">友情链接</a>
         <a href="#" target="_blank">我要融资</a>
         <a href="#" target="_blank">收益计算器</a>
         <a href="#" target="_blank">合同托管查询</a>
      </div>
      <div class="bottom">
         <div class="bottomson">
            <a href="#" target="_blank"><img src="<%= asset_url('frontend/youqinglj.jpg') %>" /></a>
            <a href="#" target="_blank"><img src="<%= asset_url('frontend/youqinglj.jpg') %>" /></a>
            <a href="#" target="_blank"><img src="<%= asset_url('frontend/youqinglj.jpg') %>" /></a>
         </div>
      </div>
   </div>